# Python / Django
__pycache__/
*.py[cod]
.env
.env.*
!.env.example
venv/
env/
*.sqlite3
# Ignore les fichiers uploadés mais garde la structure de dossiers (via .gitkeep)
backend/media/*
backend/media/**/*
!backend/media/.gitkeep
!backend/media/users/.gitkeep

# Node / Angular
node_modules/
dist/
.angular/
*.log

# Docker
docker/data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude Code
.claude/

# Backups base de données
*.sql
backup_*/
